{% extends "base.html" %}

{% block title %} {{ post.title }}{% endblock title %}

{% block content %}
    <div class="container">


        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">

                    <div id="post-area">
                    <!-- Post content-->
                    <article>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            {% if post.post_image %}
                                <img class="card-img-top" src="{{ post.post_image.url }}" alt="">
                            {% else %}
                                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.pk }}/800/350" alt="..." />
                            {% endif %}
                        </figure>

                        <!-- Post content-->
                        <section class="mb-5">
                            <h1>{{ post.title }}</h1>
                            <div>
                                <span class="badge badge-default text-primary">Writer : {{ post.author|upper}}</span> ·
                                <span class="badge badge-default text-dark">Created : {{ post.created_at }}</span>
                                <div>
                                    <span class="badge bg-light text-dark">카테고리  </span><h6 class="badge bg-success">{{post.category.name}}</h6>
                                </div>
                                {% if post.post_file %}
                                    <div class="mt-2">
                                        <p class="mb-0"><span class="badge badge-default text-muted">다운로드 가능한 첨부된 파일이 있습니다.</span></p>
                                        <p>
                                            <span class="badge badge-default text-secondary">Download : <i class="fa fa-folder-open"></i> 
                                                <a href="{{ post.post_file.url }}" class="text-decoration-none text-muted" Download>{{ post.get_file_name}}</a> [{{post.get_file_size}} byte]</span>
                                        </p>
                                    </div>
                                {% endif %}

                            </div>
                            <hr>
                            <p class="fs-5 mb-4 lead">{{ post.content|linebreaksbr }}</p>
                        </section>
                    </article>
                    </div>


                    <div class="comment-area">
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light" id="comment-area">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
                {% include 'side.html' %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}