{% extends 'base.html' %}


{% block title %}{{head_title}}{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" id="main-area">
                {% comment %} <h2>Create New Post</h2> {% endcomment %}
                <h2>{{head_title}}</h2>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <tr>
                        <th>태그</th>
                        <th><input type="text" name="tags_str" id="id_tags_str"></th>
                    </tr>
                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-primary">작성완료</button>
                        <a href="{% url 'blog:index' %}" class="btn btn-light text-dark">블로그 홈으로</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
