{% extends "base.html" %}

{% block title %} List{% endblock title %}
{% block content %}

        <!-- Page content-->
        <div class="container">
            <div class="row">

                <!-- Blog entries-->
                <div class="col-lg-8">
                    <h1 id='category_area' class="my-4">
                        <div class="row">
                            <div class="col-6">
                                Blog
                                {% if category %} <span class="badge bg-light text-dark">{{ category }}</span>{% endif %}
                                {% if tag %} <i class="fa fa-tags text-primary"></i> <span class="badge bg-default text-dark"> tag:{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}
                            </div>
                            <div class="col-6 text-end">
                                {% if user.is_authenticated %}
                                    {% if user.is_superuser or user.is_staff %}
                                        <a href="{% url 'blog:create_post' %}" class="btn btn-dark">글쓰기</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </h1>
                    <!-- Featured blog post-->
                    {% if post_list.exists %}
                    
                    {% for post in post_list %}

                    <div class="card mb-4" id="post-{{ post.pk }}">
                        <a href="{% url 'blog:post' post.pk %}">
                            {% if post.post_image %}
                                <img class="card-img-top" src="{{ post.post_image.url }}" alt="..." />
                            {% else %}
                                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.pk }}/800/350" alt="..." />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <div class="small text-muted my-2">
                                <section>{{ post.created_at }}  writer <span class="lead text-primary">{{ post.author.username|upper }}</span></section>
                                {% if post.category.name %}
                                    <section><span class="badge bg-light text-dark">카테고리</span> <h6 class="badge bg-info">{{ post.category.name }}</h6></section>
                                {% else %}
                                    <section><span class="badge bg-light text-dark">카테고리</span> <h6 class="badge bg-info">미분류</h6></section>
                                {% endif %}
                            </div>
                            <h2 class="card-title">
                                <a href="{% url 'blog:post' pk=post.pk %}" class="text-decoration-none fw-bolder text-dark">
                                    {{ post.title }}
                                </a>
                            </h2>
                            {% if post.hook_title %}
                            <h5 class="text-muted"># {{ post.hook_title }}</h5>
                            {% endif %}
                            <p class="card-text lh-sm">{{ post.content|truncatechars:150}}</p>
                            <p class="card-text">
                                {% if post.tags.exists %}
                                <i class="fa fa-tags text-primary"></i>
                                    {% for tag in post.tags.iterator %}
                                        <a href="{{tag.get_absolute_url}}" class="text-decoration-none">
                                           &nbsp;<span class="badge bg-dark text-light">{{ tag }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </p>
                            <a class="btn btn-light" href="{% url 'blog:post' post.pk %}">더보기 →</a>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                    {% else %}
                        <h3 class="text-center py-5">작성된 게시물이 없습니다.</h3>
                    {% endif %}
                </div>
                {% include 'side.html' %}
                
            </div>
        </div>
    {% endblock content %}