{% extends "base.html" %}
{% block title %} : 목록{% endblock title %}
{% block content %}
        <!-- Page content-->
        <div class="container">
            <div class="row">

                <!-- Blog entries-->
                <div class="col-lg-8" id="main-area">
                
                    <!-- Featured blog post-->
                    {% if post_list.exists %}
                    
                    {% for post in post_list %}

                    <div class="card mb-4">
                        <a href="{% url 'blog:post' post.pk %}">
                            {% if post.post_image.exists %}
                                <img class="card-img-top" src="{{ post.post_image.url }}" alt="..." />
                            {% else %}
                                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.pk }}/800/350" alt="..." />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{ post.created_at }}  writer <span class="lead text-primary">{{ post.author.username }}</span></div>
                            <h2 class="card-title">
                                <a href="{% url 'blog:post' pk=post.pk %}" class="text-decoration-none fw-bolder text-dark">
                                    {{ post.title }}
                                </a>
                            </h2>
                            {% if post.hook_title %}
                            <h5 class="text-muted"># {{ post.hook_title }}</h5>
                            {% endif %}
                            <p class="card-text lh-sm">{{ post.content|truncatechars:150}}</p>
                            {% comment %} <p>{{ post }}</p> {% endcomment %}
                            <a class="btn btn-primary" href="{% url 'blog:post' post.pk %}">더보기 →</a>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                    {% else %}
                        <h3 class="text-center py-5">작성된 게시물이 없습니다.</h3>
                    {% endif %}
                </div>
                {% include 'side.html' %}
                
            </div>
        </div>
    {% endblock content %}