<div class="col-lg-4">

    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header"><b>Search</b></div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" id="search-input" type="text" placeholder="검색어를 입력하세요" />
                <button class="btn btn-primary" id="button-search" onclick="searchPost();" type="button">찾기</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4" id="categories-card">
        <div class="card-header lead"><b>카테고리</b></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-10">
                    <ul class="list-unstyled mb-0">
                            <li><a href="{% url 'blog:index' %}" class="text-decoration-none link-secondary">전체 ({{ all_count}})</a></li>
                        {% for category in categories %}
                            <li><a href="{{category.get_absolute_url}}" class="text-decoration-none link-secondary">{{ category.name }} ({{ category.post_set.count}})</a></li>
                        {% endfor %}
                            <li><a href="{% url 'blog:category' None %}" class="text-decoration-none link-secondary">미분류 ({{no_category_post_count}})</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header h5"><b>사이드바 위젯</b></div>
        <div class="card-body">
            <p class="p-0 m-0">사이드바 위젯은</p> 
            원하는 기능을 만들어 넣어보세요.
        </div>
    </div>
</div>